.u-section-1 .u-sheet-1 {
  min-height: 1015px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 805px;
  margin: 41px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  width: 813px;
  margin: 31px auto 0;
}

.u-section-1 .u-image-1 {
  width: 376px;
  height: 376px;
  background-image: url("https://assets.nicepagecdn.com/656d418f/5531280/images/image_50352897.JPG");
  background-position: 50% 50%;
  margin: 31px auto 0;
}

.u-section-1 .u-group-1 {
  width: 939px;
  min-height: 201px;
  height: auto;
  margin: 20px auto 56px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 166px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: 23px auto 0 95px;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-3 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: 167px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: -155px auto 0 295px;
}

.u-section-1 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-4 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 162px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: -156px 271px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-5 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 32px 14px 0 6px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: 165px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: -156px 62px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-6 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: NaNpx;
  }

  .u-section-1 .u-group-4 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 15px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 190px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 8px;
  }

  .u-section-1 .u-group-5 {
    margin-right: 183px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -16px;
    margin-left: 82px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
    margin-top: -158px;
    margin-right: 75px;
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
    margin-top: 6px;
    margin-right: 80px;
  }

  .u-section-1 .u-group-5 {
    margin: -154px auto -101px 90px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 531px;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 77px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    margin-top: 46px;
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    margin-left: 0;
  }
}

.u-section-1 .u-group-2,
.u-section-1 .u-group-2:before,
.u-section-1 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-2.u-group-2.u-group-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-group-2.u-group-2.u-group-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-group-2:before {
  background-color: #ffffff !important;
}

.u-section-1 .u-container-layout:hover .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  color: #478ac9 !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  color: #478ac9 !important;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  color: #478ac9 !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  color: #478ac9 !important;
}

.u-section-1 .u-group-5,
.u-section-1 .u-group-5:before,
.u-section-1 .u-group-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-5.u-group-5.u-group-5:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-group-5.u-group-5.u-group-5.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-group-5:before {
  background-color: #ffffff !important;
}

.u-section-1 .u-container-layout:hover .u-group-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-6,
.u-section-1 .u-text-6:before,
.u-section-1 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-6.u-text-6.u-text-6:hover {
  color: #db545a !important;
}

.u-section-1 .u-text-6.u-text-6.u-text-6.hover {
  color: #db545a !important;
}

.u-section-1 .u-container-layout:hover .u-text-6 {
  color: #db545a !important;
}

.u-container-layout.hover .u-section-1 .u-text-6 {
  color: #db545a !important;
}

.u-section-1 .u-group-4,
.u-section-1 .u-group-4:before,
.u-section-1 .u-group-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-4.u-group-4.u-group-4:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-group-4.u-group-4.u-group-4.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-group-4:before {
  background-color: #ffffff !important;
}

.u-section-1 .u-container-layout:hover .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-5,
.u-section-1 .u-text-5:before,
.u-section-1 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-5.u-text-5.u-text-5:hover {
  color: #db545a !important;
}

.u-section-1 .u-text-5.u-text-5.u-text-5.hover {
  color: #db545a !important;
}

.u-section-1 .u-container-layout:hover .u-text-5 {
  color: #f1c50e !important;
}

.u-container-layout.hover .u-section-1 .u-text-5 {
  color: #f1c50e !important;
}

.u-section-1 .u-group-3,
.u-section-1 .u-group-3:before,
.u-section-1 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-3.u-group-3.u-group-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-group-3.u-group-3.u-group-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-group-3:before {
  background-color: #ffffff !important;
}

.u-section-1 .u-container-layout:hover .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-4.u-text-4.u-text-4:hover {
  color: #db545a !important;
}

.u-section-1 .u-text-4.u-text-4.u-text-4.hover {
  color: #db545a !important;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
  color: #db545a !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
  color: #db545a !important;
}.u-section-2 .u-sheet-1 {
  min-height: 814px;
}

.u-section-2 .u-text-1 {
  width: 243px;
  font-size: 3rem;
  margin: 38px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 29px 233px 0 737px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: -20px 716px 0 248px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 899px;
  margin: 10px 102px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 466px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 465px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-2 {
  padding: 15px 10px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  background-image: none;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 500;
  width: 293px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 500;
  margin: 6px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 10px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 15px 10px;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  background-image: none;
  margin: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 500;
  width: 293px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 500;
  margin: 6px auto 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 10px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 466px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-2 .u-list-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  margin: 18px 0 0;
}

.u-section-2 .u-text-13 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-14 {
  margin: 33px -10px -14px 38px;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none;
  margin: 38px auto 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  margin: -49px 66px 60px auto;
  padding: 5px 28px 6px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.5em;
  padding: 2px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 271px;
    margin-left: 306px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 133px;
    margin-left: 637px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 616px;
    margin-left: 148px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 162px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-2 .u-list-2 {
    margin-top: -59px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 512px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 88px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 18px;
    margin-right: 22px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin: 18px 20px 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 161px;
    margin-left: 196px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 23px;
    margin-left: 527px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 506px;
    margin-left: 38px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    width: 281px;
  }

  .u-section-2 .u-text-9 {
    width: 281px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 7px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 37px;
    margin-right: 71px;
    margin-left: 106px;
  }

  .u-section-2 .u-text-2 {
    width: 170px;
    margin-top: 455px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: 176px;
    margin-top: -459px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 25px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 398px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -38px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 409px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 16px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 3px;
    margin-right: 106px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 11px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 16px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 12px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 3px;
    margin-right: 106px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 11px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    margin-top: -19px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 472px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 48px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -78px;
    margin-left: 150px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 25px;
    margin-right: auto;
    margin-left: 192px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 75px;
    margin-left: 89px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: -21px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 23px;
    margin-right: -51px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 4px;
    margin-right: -1px;
    margin-left: 27px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 3px;
    margin-right: 91px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 16px;
    margin-right: -22px;
    margin-left: 27px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 23px;
    margin-right: -51px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 4px;
    margin-right: -1px;
    margin-left: 27px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 3px;
    margin-right: 91px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 16px;
    margin-right: -22px;
    margin-left: 27px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-list-2 {
    width: 320px;
    margin: 15px -18px -4px auto;
  }

  .u-section-2 .u-text-12 {
    margin-top: 0;
    margin-right: -16px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 27px;
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 13px;
    margin-right: -4px;
    margin-left: 4px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 11px;
    margin-left: auto;
    margin-bottom: 42px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 604px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 996px;
  margin: 25px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 366px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-icon-1 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-icon-2 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-3 .u-icon-3 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-3 .u-icon-4 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 30px 3px;
}

.u-section-3 .u-icon-5 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
  padding: 21px;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  margin: 20px 20px 35px auto;
  padding: 3px 23px 4px 22px;
}

.u-section-3 .u-icon-6 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 73px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 22px;
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 430px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -13px;
    margin-right: 55px;
    margin-bottom: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 688px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-btn-1 {
    margin-top: 38px;
    margin-bottom: 38px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1162px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 54px 122px 0 250px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 42px;
  margin-bottom: 36px;
}

.u-section-4 .u-layout-cell-1 {
  background-position: 50% 50%;
  min-height: 1025px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-video-1 {
  height: 233px;
  width: 414px;
  margin: 0 auto;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

.u-section-4 .u-image-1 {
  height: 572px;
  width: 526px;
  margin: 43px auto 0 -15px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 28px auto 0 0;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  font-size: 1.4em;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  border-style: solid;
  margin: -60px 28px 0 auto;
}

.u-section-4 .u-icon-2 {
  font-size: 1.4em;
  color: rgb(255, 255, 255) !important;
  padding: 3px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 1025px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 19px 0 0 48px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 21px 29px 0 48px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  margin: 46px 24px 0 auto;
  padding: 3px 23px 4px 22px;
}

.u-section-4 .u-icon-3 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 22px;
    margin-left: 150px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 969px;
  }

  .u-section-4 .u-video-1 {
    margin-top: 16px;
  }

  .u-section-4 .u-image-1 {
    height: 467px;
    width: 430px;
    margin-top: 108px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
    margin-bottom: 16px;
    padding: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 969px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 7px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1758px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 53px;
    margin-right: -124px;
    margin-left: 124px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 44px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 940px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 73px;
    margin-left: 137px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 46px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -44px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 694px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: -16px;
    margin-left: 16px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 0;
    margin-right: 273px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 72px;
    margin-right: 47px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 63px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 878px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -22px;
    margin-right: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2451px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 32px;
    margin-right: -86px;
    margin-left: 20px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 47px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 800px;
  }

  .u-section-4 .u-video-1 {
    height: 191px;
    width: 340px;
    margin-top: 0;
  }

  .u-section-4 .u-image-1 {
    height: 369px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1517px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -13px;
    margin-right: 56px;
  }
} .u-section-5 {
  min-height: 698px;
}

.u-section-5 .u-post-details-1 {
  min-height: 602px;
  width: 1140px;
  margin: 48px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 2px 30px 0 11px;
}

.u-section-5 .u-text-2 {
  margin: 44px 499px 0 25px;
}

.u-section-5 .u-image-1 {
  height: 315px;
  width: 463px;
  margin: -334px 18px 0 auto;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  background-image: none;
  margin: 32px auto 0 202px;
  padding: 10px 46px 10px 45px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  margin: -56px 29px 14px auto;
  padding: 1px 24px 3px 23px;
}

.u-section-5 .u-icon-2 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-5 .u-post-details-1 {
    min-height: 1044px;
    width: 940px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 644px;
    margin-top: 380px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: -661px;
    margin-right: auto;
    margin-left: 226px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 380px;
    margin-left: auto;
    padding: 5px 22px 5px 21px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 37px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-post-details-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 409px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -677px;
    margin-right: 114px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 374px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-post-details-1 {
    min-height: 1088px;
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
    margin-top: 408px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -722px;
    margin-right: 35px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 422px;
    margin-right: 169px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-post-details-1 {
    min-height: 1175px;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-top: 294px;
  }

  .u-section-5 .u-image-1 {
    height: 231px;
    width: 340px;
    margin-top: -825px;
    margin-right: 0;
    margin-left: -4px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 607px;
    margin-right: 0;
    margin-left: 72px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 101px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-6 .u-text-1 {
  margin: 35px auto 0 369px;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 515px;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 18px;
}

.u-section-6 .u-image-1 {
  height: 213px;
  margin: 20px auto 0 12px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0 12px;
}

.u-section-6 .u-text-3 {
  margin: 20px 12px 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 12px auto 0 12px;
  padding: 2px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 18px;
}

.u-section-6 .u-image-2 {
  height: 213px;
  margin: 20px auto 0 12px;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px 0 0 12px;
}

.u-section-6 .u-text-5 {
  margin: 20px 12px 0;
}

.u-section-6 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 12px auto 0 12px;
  padding: 2px 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 18px;
}

.u-section-6 .u-image-3 {
  height: 213px;
  margin: 20px auto 0 12px;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  margin: 20px 0 0 12px;
}

.u-section-6 .u-text-7 {
  margin: 20px 12px 0;
}

.u-section-6 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 12px auto 0 12px;
  padding: 2px 0;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  margin: 0 34px 15px auto;
  padding: 3px 24px 4px 23px;
}

.u-section-6 .u-icon-1 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 304px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 425px;
  }

  .u-section-6 .u-image-1 {
    height: 172px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    height: 172px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    height: 172px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1157px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 233px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 977px;
  }

  .u-section-6 .u-image-1 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1691px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-6 .u-list-1 {
    margin-top: 27px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 323px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 323px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 323px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-4 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1462px;
  }

  .u-section-6 .u-image-1 {
    height: 199px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 199px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 199px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-4 {
    margin-top: 20px;
    margin-bottom: 38px;
    margin-left: 94px;
    padding-top: 4px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 658px;
}

.u-section-7 .u-slider-1 {
  width: 1105px;
  min-height: 636px;
  height: auto;
  margin: 11px 0 11px auto;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 6px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: 21px 328px 0 347px;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  width: 481px;
  margin: 22px auto 0;
}

.u-section-7 .u-image-1 {
  height: 229px;
  width: 281px;
  margin: 33px 193px 0 auto;
}

.u-section-7 .u-image-2 {
  height: 229px;
  width: 314px;
  margin: -229px auto 0 217px;
}

.u-section-7 .u-text-3 {
  width: 814px;
  margin: 33px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  margin: 24px 51px 0 auto;
  padding: 3px 22px 3px 20px;
}

.u-section-7 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-7 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: -48px auto 0 358px;
}

.u-section-7 .u-icon-2 {
  font-size: 1.4em;
  padding: 2px;
}

.u-section-7 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-7 .u-text-4 {
  font-size: 3rem;
  margin: 0 -212px 0 313px;
}

.u-section-7 .u-text-5 {
  margin: 14px 190px 0 169px;
}

.u-section-7 .u-gallery-1 {
  height: 373px;
  width: 1084px;
  grid-gap: 17px;
  margin: 21px 22px 0 0;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-text-6 {
  margin: 19px 294px 0 334px;
}

.u-section-7 .u-image-3 {
  width: 494px;
  height: 337px;
  margin: 43px auto 0 0;
}

.u-section-7 .u-image-4 {
  height: 291px;
  width: 198px;
  margin: -345px 400px 0 auto;
}

.u-section-7 .u-image-5 {
  height: 271px;
  width: 188px;
  margin: -271px 15px 0 auto;
}

.u-section-7 .u-image-6 {
  width: 196px;
  height: 301px;
  margin: -301px 204px 0 auto;
}

.u-section-7 .u-text-7 {
  margin: 50px 35px 0 529px;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  margin: 19px 50px 0 auto;
  padding: 3px 20px 4px 19px;
}

.u-section-7 .u-icon-3 {
  font-size: 1.5em;
}

.u-section-7 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 0;
}

.u-section-7 .u-text-8 {
  width: auto;
  margin: -58px 13px 0 317px;
}

.u-section-7 .u-text-9 {
  margin: 38px 49px 0 410px;
}

.u-section-7 .u-image-7 {
  height: 481px;
  width: 339px;
  margin: 27px auto 0 28px;
}

.u-section-7 .u-text-10 {
  margin: -418px 63px 0 396px;
}

.u-section-7 .u-text-11 {
  margin: 78px 13px 0 396px;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  margin: 60px 42px 0 auto;
  padding: 2px 26px 3px 25px;
}

.u-section-7 .u-icon-4 {
  font-size: 1.5em;
}

.u-section-7 .u-carousel-control-1 {
  width: 44px;
  height: 44px;
  background-image: none;
  left: 0;
  position: absolute;
  top: 287px;
  right: auto;
}

.u-section-7 .u-carousel-control-2 {
  width: 44px;
  height: 44px;
  background-image: none;
  left: auto;
  position: absolute;
  top: 269px;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 562px;
    margin-top: 23px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-right: 216px;
    margin-left: 259px;
  }

  .u-section-7 .u-text-2 {
    width: 437px;
    margin-top: 19px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 35px;
    margin-right: 143px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 118px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-right: 183px;
    margin-left: 148px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -71px;
    margin-right: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 46px;
    margin-left: 322px;
    padding: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-right: -226px;
    margin-left: 226px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 23px;
    margin-right: 90px;
    margin-left: 69px;
  }

  .u-section-7 .u-gallery-1 {
    height: 322px;
    width: 940px;
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 194px;
    margin-left: 234px;
  }

  .u-section-7 .u-image-3 {
    width: 342px;
    height: 284px;
  }

  .u-section-7 .u-image-4 {
    margin-top: -291px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: 76px;
    margin-right: 328px;
    margin-left: 36px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: -45px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 0;
    margin-left: 130px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 0;
    margin-left: 259px;
  }

  .u-section-7 .u-text-10 {
    width: auto;
    margin-top: -440px;
    margin-right: -115px;
    margin-left: 374px;
  }

  .u-section-7 .u-text-11 {
    width: auto;
    margin-top: 50px;
    margin-right: 46px;
    margin-left: 390px;
  }

  .u-section-7 .u-btn-4 {
    margin-top: 85px;
    margin-right: 85px;
  }

  .u-section-7 .u-carousel-control-1 {
    left: -36px;
  }

  .u-section-7 .u-carousel-control-2 {
    right: -14px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 884px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 39px;
    padding-right: 39px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 122px;
    margin-left: 165px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: 74px;
    margin-left: 131px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 274px;
    margin-right: 166px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -475px;
    margin-right: 142px;
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    margin-top: 269px;
    margin-right: 74px;
    margin-left: 147px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -18px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: -31px;
    margin-left: 12px;
  }

  .u-section-7 .u-text-4 {
    margin-right: -97px;
    margin-left: 98px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-gallery-1 {
    height: 767px;
    width: 720px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 24px;
    margin-right: 71px;
    margin-left: 106px;
  }

  .u-section-7 .u-image-3 {
    width: 458px;
    height: 333px;
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-7 .u-image-4 {
    margin-top: 19px;
    margin-right: auto;
    margin-left: 19px;
  }

  .u-section-7 .u-image-5 {
    margin-right: 28px;
  }

  .u-section-7 .u-image-6 {
    margin-right: auto;
  }

  .u-section-7 .u-text-7 {
    margin-top: 10px;
    margin-right: 143px;
    margin-left: 29px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: -31px;
    margin-right: 0;
  }

  .u-section-7 .u-text-8 {
    margin-left: 0;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-top: 35px;
    margin-right: -159px;
    margin-left: 198px;
  }

  .u-section-7 .u-image-7 {
    margin-top: 77px;
    margin-left: 168px;
  }

  .u-section-7 .u-text-10 {
    margin-top: -538px;
    margin-right: 3px;
    margin-left: 168px;
  }

  .u-section-7 .u-text-11 {
    margin-top: 504px;
    margin-right: 193px;
    margin-left: 39px;
  }

  .u-section-7 .u-btn-4 {
    margin-top: -64px;
    margin-right: 49px;
  }

  .u-section-7 .u-carousel-control-1 {
    left: 0;
    top: 388px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-slider-1 {
    min-height: 1251px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 43px;
    padding-right: 43px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 33px;
    margin-left: 76px;
  }

  .u-section-7 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-1 {
    margin-top: 275px;
    margin-right: 193px;
    margin-left: 76px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -481px;
    margin-right: auto;
    margin-left: 64px;
  }

  .u-section-7 .u-text-3 {
    width: 321px;
    margin-top: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -70px;
    margin-right: 9px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 43px;
    margin-left: 17px;
  }

  .u-section-7 .u-text-4 {
    font-size: 2.25rem;
    margin-right: -112px;
    margin-left: 113px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 24px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1762px;
    width: 540px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
    margin-left: 28px;
  }

  .u-section-7 .u-image-4 {
    margin-right: 342px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 44px;
    padding-right: 44px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-image-7 {
    margin-top: 146px;
    margin-right: 33px;
    margin-left: auto;
  }

  .u-section-7 .u-text-10 {
    margin-top: -418px;
    margin-right: 0;
  }

  .u-section-7 .u-text-11 {
    margin-top: 55px;
    margin-right: 33px;
    margin-left: 38px;
  }

  .u-section-7 .u-btn-4 {
    margin-top: 81px;
    margin-right: auto;
    margin-left: 148px;
  }

  .u-section-7 .u-carousel-control-2 {
    top: 388px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 963px;
    margin-top: 11px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 11px;
    margin-right: -4px;
    margin-left: 15px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
    width: 329px;
    margin-top: 21px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 277px;
    margin-right: 23px;
    margin-left: 39px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 6px;
  }

  .u-section-7 .u-text-3 {
    width: 320px;
    margin-top: 271px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 36px;
    margin-right: 14px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: -81px;
    margin-left: 38px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 7px;
    margin-right: -24px;
    margin-left: 24px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 16px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1122px;
    width: 340px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
  }

  .u-section-7 .u-image-3 {
    width: 340px;
    height: 282px;
  }

  .u-section-7 .u-image-4 {
    height: 170px;
    width: 115px;
    margin-top: 3px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-7 .u-image-5 {
    height: 173px;
    width: 120px;
    margin-top: -170px;
    margin-right: 12px;
  }

  .u-section-7 .u-image-6 {
    width: 135px;
    height: 207px;
    margin-top: 3px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 4px;
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 19px;
    margin-right: 28px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-7 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-9 {
    margin-top: 34px;
    margin-right: -64px;
    margin-left: 64px;
  }

  .u-section-7 .u-image-7 {
    margin-top: 77px;
    margin-right: auto;
  }

  .u-section-7 .u-text-10 {
    margin-top: -544px;
    margin-right: -33px;
    margin-left: 34px;
  }

  .u-section-7 .u-text-11 {
    margin-top: 529px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-4 {
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-7 .u-carousel-control-1 {
    top: 356px;
  }

  .u-section-7 .u-carousel-control-2 {
    top: 461px;
    right: -44px;
  }
}